{% if activeLocale == 'en' %}
<div class="container">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12 foot-links">
                    <h1>Useful Links</h1>
                    <ul class="list-unstyled useful">
                        <li><a href="http://www.tamimiholding.com/" target="_blank">Tamimi Holding<span
                                class="pull-right"><i class="fa fa-angle-double-right"></i></span></a></li>
                                <li><a href="http://www.aljabr.com.sa/corporate/" target="_blank">Al Jabr Holding<span
                                    class="pull-right"><i class="fa fa-angle-double-right"></i></span></a></li>
                        <li><a href="http://www.abdulla-fouad.com/" target="_blank">Abdulla Fouad Group<span
                                class="pull-right"><i class="fa fa-angle-double-right"></i></span></a></li>

                        <li><a href="http://www.petrogistix.com/" target="_blank">Petrogistix<span class="pull-right"><i
                                class="fa fa-angle-double-right"></i></span></a></li>
                    </ul>
                </div>
                <div class="col-md-6 col-sm-12 pull-left">
                    <img src="/themes/gcc/assets/img/gccksa_logo.png" style="height: 70px;margin-top: 15px;"
                         class="img-responsive logo">
                    <p class="copy-right">© Gulf Consolidated Contractors Co. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% elseif activeLocale == 'ar' %}
<div class="container">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12 foot-links pull-left">
                    <h1 class="text-right"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> الروابط المفيدة</font></font></h1>
                    <ul class="list-unstyled useful">
                        <li><a href="https://tamimigroup.com.sa" target="_blank"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">التميمي القابضة</font></font><span class="pull-right"><i class="fa fa-angle-double-right"></i></span></a></li>
                        <li><a href="/" target="_blank"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">الجبر القابضة</font></font><span class="pull-right"><i class="fa fa-angle-double-right"></i></span></a></li>
                        <li><a href="http://www.abdulla-fouad.com/" target="_blank"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">مجموعة عبدالله فؤاد</font></font><span class="pull-right"><i class="fa fa-angle-double-right"></i></span></a></li>
                        <li><a href="http://www.petrogistix.com/" target="_blank"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">بيتروجيستك</font></font><span class="pull-right"><i class="fa fa-angle-double-right"></i></span></a></li>
                    </ul>
                </div>
                <div class="col-md-6 col-sm-12 pull-right">
                    <img src="/themes/gcc/assets/img/gccksa_logo.png" style="height: 70px;margin-top: 15px;" class="img-responsive logo pull-right">
                    <p class="copy-right pull-right"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">© المقاولين الخليج الموحدة شركة جميع الحقوق محفوظة.</font></font></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}